<!-- Feature Section start -->
<section id="feature" class="feature" #feature>
  <div class="feature-decor">
    <div class="feature-circle1"><img src="assets/images/feature2.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="feature-phone">
        <img src="assets/images/222.png" class="img-fluid" alt="">
      </div>
      <div class="offset-lg-4 col-lg-8">
        <div class="row">
          <div class="col-sm-12 mrgn-md-top">
            <h2 class="title">futuras <span>funcionalidades</span></h2>
          </div>
          <div class="col-12 col-md-6">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/1.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Administrar suscripciones a gimnasios</h3>
                </div>
                <div>
                  <p class="no-caps">Podrás adquirir y administrar suscripciones a gimnasios, así como comprar clases individuales, y mantener un registro de tus entrenos.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/5.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Recordatorio de entreno</h3>
                </div>
                <div class="no-caps">
                  <p class="no-caps">Recibirás una notificación push cada vez que tengas que entrenar, adaptado a tus necesidades.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/3.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Chats zonales y de usuario</h3>
                </div>
                <div class="no-caps">
                  <p class="no-caps">Podrás hablar con gente de tu zona para organizar eventos, tanto en un chat zonal, como por privado.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 sm-m-top">
            <ul class="feature-style">
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/2.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Mercadillo Fitness</h3>
                </div>
                <div>
                  <p class="no-caps">Compra o vende material de segunda mano en tu zona.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/4.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Estadísticas de seguimiento</h3>
                </div>
                <div>
                  <p class="no-caps">Cada vez que vayas a un evento, una clase individual o un entrenamiento de una suscripción, se guardará tu progreso para que puedas hacer un seguimiento.</p>
                </div>
              </li>
              <li>
                <div class="feature-icon">
                  <img src="assets/images/icon/6.png" alt="icon">
                </div>
                <div class="feature-subtitle">
                  <h3>Integración de otros centros</h3>
                </div>
                <div>
                  <p class="no-caps">Además de los gimnasios, también integraremos otros negocios relacionados con el deporte, como nutricionistas, clínicas de fisioterapia, y mucho más.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Feature Section End -->
