<a class="navbar-brand dromous-logo" [routerLink]="'/home'">
    <img src="assets/images/dromous_logotext.png" alt="logo">
    <p class="no-caps"> Volver a la pantalla principal </p>
</a>

<h3 class="title">Términos y condiciones de servicio</h3>
<p class="terms">
    TÉRMINOS Y CONDICIONES ÚLTIMA MODIFICACIÓN 20 de junio de 2021.

    1. ACUERDO CON LOS TÉRMINOS Estos Términos de uso constituyen un acuerdo legalmente vinculante entre usted, ya sea
    personalmente o en nombre de una entidad ("usted") y "DROMOUS" ("nosotros", "nuestro" o "nuestro"), con respecto a
    su acceso y uso de la aplicación DROMOUS, así como cualquier otra forma de medios, canal de medios, sitio web
    móvil o aplicación móvil relacionada, vinculada o relacionada de otro modo (colectivamente, el "Sitio"). Usted
    acepta que al acceder al Sitio, ha leído, comprendido y aceptado todos estos Términos de uso. SI NO ESTÁ DE
    ACUERDO CON TODOS ESTOS TÉRMINOS DE USO, ENTONCES ESTÁ EXPRESAMENTE PROHIBIDO USAR EL SITIO Y DEBE DEJAR DE USAR
    INMEDIATAMENTE. Los términos y condiciones complementarios o documentos que pueden publicarse en el Sitio
    ocasionalmente se incorporan expresamente aquí como referencia. Nos reservamos el derecho, a nuestro exclusivo
    criterio, de realizar cambios o modificaciones a estos Términos de uso en cualquier momento y por cualquier
    motivo. Le avisaremos acerca de cualquier cambio actualizando la fecha de "Última actualización" de estos Términos
    de uso, y renuncia a cualquier derecho de recibir un aviso específico de cada uno de dichos cambios. Es su
    responsabilidad revisar periódicamente estos Términos de uso para mantenerse informado de las actualizaciones.
    Usted estará sujeto a, y se considerará que ha tenido conocimiento de, y ha aceptado, los cambios en los Términos
    de uso revisados por su uso continuo del Sitio después de la fecha en que se publican los Términos de uso
    revisados. La información proporcionada en el Sitio no está destinada a su distribución o uso por parte de ninguna
    persona o entidad en ninguna jurisdicción o país donde dicha distribución o uso sería contrario a la ley o
    regulación o que nos sometería a cualquier requisito de registro dentro de dicha jurisdicción o país. . En
    consecuencia, las personas que decidan acceder al Sitio desde otros lugares lo hacen por su propia iniciativa y
    son los únicos responsables del cumplimiento de las leyes locales, en la medida en que las leyes locales sean
    aplicables.
    2. DERECHOS DE PROPIEDAD INTELECTUAL A menos que se indique lo contrario, el Sitio es propiedad nuestra y todo el
    código fuente, bases de datos, funcionalidad, software, diseños de sitios web, audio, video, texto, fotografías y
    gráficos en el Sitio (colectivamente, el "Contenido") y las marcas registradas, servicio las marcas y los
    logotipos contenidos en ellas (las "Marcas") son propiedad de nosotros o están bajo nuestra licencia y están
    protegidos por las leyes de derechos de autor y marcas comerciales y otros derechos de propiedad intelectual y
    leyes de competencia desleal de los Estados Unidos, jurisdicciones extranjeras y convenciones internacionales. El
    Contenido y las Marcas se proporcionan en el Sitio "TAL CUAL" para su información y uso personal únicamente. A
    excepción de lo expresamente estipulado en estos Términos de uso, ninguna parte del Sitio ni Contenido o Marcas
    puede ser copiada, reproducida, agregada, republicada, cargada, publicada, exhibida públicamente, codificada,
    traducida, transmitida, distribuida, vendida, autorizada o de lo contrario, se explotará para cualquier fin
    comercial, sin nuestro permiso previo por escrito. Siempre que sea elegible para usar el Sitio, se le concede una
    licencia limitada para acceder y utilizar el Sitio, y para descargar o imprimir una copia de cualquier parte del
    Contenido al que haya accedido correctamente únicamente para su uso personal, no comercial. utilizar. Nos
    reservamos todos los derechos no otorgados expresamente a usted en el Sitio, el Contenido y las Marcas.
    3. REPRESENTACIONES DEL USUARIO Al utilizar el Sitio, usted declara y garantiza que: (1) tiene la capacidad legal
    y acepta cumplir con estos Términos de uso; (2) usted no es menor de edad en la jurisdicción en la que reside; (3)
    no accederá al Sitio a través de medios automatizados o no humanos, ya sea a través de un bot, script o de otro
    modo; (4) no usará el Sitio para ningún propósito ilegal o no autorizado; y (5) su uso del Sitio no violará
    ninguna ley o regulación aplicable. Si proporciona información falsa, inexacta, no actual o incompleta, tenemos el
    derecho de suspender o cancelar su cuenta y de rechazar cualquier uso actual o futuro del Sitio (o cualquier parte
    del mismo).
    4. PRODUCTOS Hacemos todo lo posible para mostrar con la mayor precisión posible los colores, las características,
    las especificaciones y los detalles de los productos disponibles en el Sitio. Sin embargo, no garantizamos que los
    colores, las características, las especificaciones y los detalles de los productos sean precisos, completos,
    confiables, actuales o libres de otros errores, y que su pantalla electrónica no refleje con exactitud los colores
    y detalles reales del producto. productos. Todos los productos están sujetos a disponibilidad, y no podemos
    garantizar que las características estarán disponibles. Nos reservamos el derecho de descontinuar cualquier
    producto en cualquier momento y por cualquier motivo. Los precios de todos los productos están sujetos a cambios.
    5. COMPRAS Y PAGO Usted acepta proporcionar información de compra y cuenta actual, completa y precisa para todas
    las compras realizadas a través del Sitio. Además, acepta actualizar rápidamente la información de cuenta y pago,
    incluida la dirección de correo electrónico, el método de pago y la fecha de vencimiento de la tarjeta de pago,
    para que podamos completar sus transacciones y contactarlo según sea necesario. El impuesto a las ventas se
    agregará al precio de las compras si lo consideramos necesario. Podemos cambiar los precios en cualquier momento.
    Usted acepta pagar todos los cargos a los precios vigentes para sus compras y suscripciones, y nos autoriza a
    cobrar al proveedor de pagos elegido por dichos montos al realizar su pedido. Nos reservamos el derecho de
    corregir cualquier error o errores en los precios, incluso si ya hemos solicitado o recibido el pago. Nos
    reservamos el derecho de rechazar cualquier pedido realizado a través del Sitio. Estas restricciones pueden
    incluir pedidos realizados por o bajo la misma cuenta de cliente, el mismo método de pago y / o pedidos que usan
    la misma dirección de facturación o envío. Nos reservamos el derecho de limitar o prohibir los pedidos que, a
    nuestro exclusivo criterio, parezcan ser colocados por distribuidores, revendedores o distribuidores.
    6. ACTIVIDADES PROHIBIDAS No puede acceder ni utilizar el Sitio para ningún otro fin que no sea para el que
    ponemos el Sitio a disposición. El Sitio no se puede utilizar en relación con ningún emprendimiento comercial,
    excepto aquellos específicamente respaldados o aprobados por nosotros. Como usuario del Sitio, usted acepta no:
    (1) Compartir información de otros usuarios con terceros. (2) Utilizar el sitio con una finalidad para el que no
    ha sido diseñado. (3) Crear múltiples cuentas para evitar los planes de pago. (4) Utilizar el sitio sin
    autorización expresa de los usuarios para realizar cualquier actividad conjunta. Ante el incumplimiento de estos
    puntos, DROMOUS se guarda el derecho de cancelar la cuenta del usuario.
    7. PRESENTACIONES Usted reconoce y acepta que cualquier pregunta, comentario, sugerencia, idea, comentario u otra
    información relacionada con el Sitio o las Ofertas de Marketplace ("Envíos"). Tendremos derechos exclusivos,
    incluidos todos los derechos de propiedad intelectual, y tendremos derecho a la utilización de los datos que nos
    ha proporcionada para uso interno. Nos comprometemos a no ceder los datos que nos ha proporcionado sin si
    autorización expresa y no los cederemos a terceros para fines comerciales. Usted acepta que no habrá recurso
    contra nosotros por cualquier presunta o real infracción o apropiación indebida de cualquier derecho de propiedad
    en sus datos.
    8. MANEJO DE SITIO Nos reservamos el derecho, pero no la obligación, de: (1) monitorear el Sitio por violaciones a
    estos Términos de uso; (2) emprender acciones legales apropiadas contra cualquier persona que, a nuestro exclusivo
    criterio, infrinja la ley o estos Términos de uso, lo que incluye, entre otros, informar a las autoridades
    encargadas de hacer cumplir la ley; (3) a nuestra entera discreción y sin limitación, rechazar, restringir el
    acceso, limitar la disponibilidad de, o desactivar (en la medida tecnológicamente factible) cualquiera de sus
    Contribuciones o cualquier porción de la misma; (4) a nuestro exclusivo criterio y sin limitación, aviso u
    obligación, para eliminar del Sitio o inhabilitar de otro modo todos los archivos y contenidos que sean de un
    tamaño excesivo o que sean de alguna forma gravosos para nuestros sistemas; y (5) administrar el sitio de una
    manera diseñada para proteger nuestros derechos y propiedad y para facilitar el funcionamiento adecuado del sitio
    y las ofertas de Marketplace.
    9. DURACIÓN Y TERMINACIÓN Estos Términos de uso permanecerán en plena vigencia mientras usted use el Sitio. SIN
    LIMITAR NINGUNA OTRA CLÁUSULAS DE ESTOS TÉRMINOS DE USO, NOS RESERVAMOS EL DERECHO DE NUESTRA DISCRECIÓN Y SIN
    PREVIO AVISO O RESPONSABILIDAD NI NEGAMOS EL ACCESO Y USO DEL SITIO Y LAS OFERTAS DE MARKETPLACE (INCLUYENDO EL
    BLOQUEO DE CIERTAS DIRECCIONES IP) A CUALQUIER PERSONA POR CUALQUIER MOTIVO O SIN MOTIVO, INCLUYENDO, SIN
    LIMITACIONES, EL INCUMPLIMIENTO DE CUALQUIER DECLARACIÓN, GARANTÍA O PACTO CONTENIDO EN ESTOS TÉRMINOS DE USO O DE
    CUALQUIER LEY O REGLAMENTO APLICABLE. PODEMOS CANCELAR SU USO O PARTICIPACIÓN EN EL SITIO Y LAS OFERTAS DE
    MARKETPLACE O ELIMINAR CUALQUIER CONTENIDO O INFORMACIÓN QUE PUBLICÓ EN CUALQUIER MOMENTO, SIN ADVERTENCIA, A
    NUESTRA DISCRECIÓN. Si cancelamos o suspendemos su cuenta por algún motivo, tiene prohibido registrarse y crear
    una cuenta nueva a su nombre, un nombre falso o prestado, o el nombre de un tercero, incluso si usted está
    actuando en nombre del tercero. Además de cancelar o suspender su cuenta, nos reservamos el derecho de emprender
    las acciones legales pertinentes, que incluyen, entre otras, la reparación civil, penal y judicial.
    10. MODIFICACIONES E INTERRUPCIONES Nos reservamos el derecho de cambiar, modificar o eliminar el contenido del
    Sitio en cualquier momento o por cualquier motivo, a nuestro exclusivo criterio y sin previo aviso. Sin embargo,
    no tenemos la obligación de actualizar ninguna información en nuestro Sitio. También nos reservamos el derecho de
    modificar o descontinuar total o parcialmente las Ofertas de Marketplace sin previo aviso en cualquier momento. No
    seremos responsables ante usted ni ante ningún tercero por ninguna modificación, cambio de precio, suspensión o
    interrupción del Sitio ni de las Ofertas de Marketplace. No podemos garantizar que el Sitio y las Ofertas de
    Marketplace estén disponibles en todo momento. Es posible que experimentemos problemas de hardware, software u
    otros problemas o que necesitemos realizar tareas de mantenimiento relacionadas con el Sitio, lo que ocasiona
    interrupciones, retrasos o errores. Nos reservamos el derecho de cambiar, revisar, actualizar, suspender,
    descontinuar o modificar el Sitio o las Ofertas de Marketplace en cualquier momento o por cualquier motivo sin
    notificárselo. Acepta que no tenemos responsabilidad alguna por las pérdidas, daños o inconvenientes causados por
    su incapacidad para acceder o utilizar el Sitio o las Ofertas de Marketplace durante el tiempo de inactividad o la
    interrupción del Sitio o de las Ofertas de Marketplace. Nada de lo contenido en estos Términos de uso se
    interpretará como una obligación para mantener y respaldar el Sitio o las Ofertas de Marketplace o para
    proporcionar correcciones, actualizaciones o publicaciones relacionadas con el mismo.
    11. LEY QUE RIGE Estos Términos de uso y su uso del Sitio y las Ofertas de Marketplace se rigen e interpretan de
    conformidad con las leyes del Estado de España aplicables a los acuerdos realizados y que se realizarán
    íntegramente en el Estado de España, independientemente de su conflicto de intereses. principios de la ley.
    12. RESOLUCIÓN DE CONFLICTOS 12.1. Arbitraje obligatorio Si las Partes no pueden resolver una disputa a través de
    negociaciones informales, la disputa (excepto aquellas disputas expresamente excluidas a continuación) se
    resolverá única y exclusivamente mediante arbitraje vinculante. USTED ENTIENDE QUE SIN ESTA DISPOSICIÓN, USTED
    TENDRÍA DERECHO A DEMANDAR EN TRIBUNAL Y TENER UN JUICIO CON JURADO. El arbitraje se iniciará y llevará a cabo
    según las Reglas de Arbitraje Comercial de la Asociación Americana de Arbitraje ('AAA') y, cuando corresponda, los
    Procedimientos Suplementarios de la AAA para Conflictos Relacionados con el Consumidor ('Reglas del Consumidor
    AAA'), ambos disponibles en el Sitio web de AAA www.adr.org. Sus tarifas de arbitraje y su parte de la
    remuneración del árbitro se regirán por las Reglas del consumidor de la AAA y, cuando corresponda, estarán
    limitadas por las Reglas del consumidor de la AAA. El arbitraje puede llevarse a cabo en persona, a través del
    envío de documentos, por teléfono o en línea. El árbitro tomará una decisión por escrito, pero no necesita
    proporcionar una declaración de motivos a menos que lo solicite cualquiera de las Partes. El árbitro debe cumplir
    con la ley aplicable, y cualquier adjudicación puede ser impugnada si el árbitro no lo hace. Excepto cuando las
    reglas de la AAA aplicables o la ley aplicable exijan lo contrario, el arbitraje tendrá lugar en España. Salvo que
    se disponga lo contrario en el presente, las partes pueden litigar ante el tribunal para obligar al arbitraje,
    suspender los procedimientos pendientes de arbitraje, o para confirmar, modificar, anular o emitir un fallo sobre
    el laudo emitido por el árbitro. Si por alguna razón, una disputa procede ante un tribunal en lugar de un
    arbitraje, la disputa se iniciará o procesará en los tribunales estatales y federales ubicados en España, y las
    partes consienten y renuncian a todas las defensas por falta de jurisdicción personal y foro non conveniens con
    respecto al lugar y la jurisdicción en tales cortes estatales y federales. La aplicación de la Convención de las
    Naciones Unidas sobre los Contratos de Compraventa Internacional de Mercaderías y la Ley Uniforme de Transacciones
    de Información Computarizada (UCITA) están excluidas de estos Términos de uso. Si se determina que esta
    disposición es ilegal o inaplicable, ninguna
    de las Partes elegirá someter a arbitraje ninguna disputa que caiga dentro de esa parte de esta disposición
    declarada ilegal o inaplicable y dicha disputa será decidida por un tribunal de jurisdicción competente dentro de
    los tribunales enumerados para jurisdicción arriba, y las Partes acuerdan someterse a la jurisdicción personal de
    ese tribunal.
    12.2. Restricciones Las Partes acuerdan que cualquier arbitraje se limitará a la disputa entre las partes
    individualmente. En la medida permitida por la ley, (a) no se unirá ningún arbitraje con ningún otro
    procedimiento; (b) no existe ningún derecho o autoridad para que una Disputa sea arbitrada por acción de clase o
    para utilizar procedimientos de acción de clase; y (c) no existe ningún derecho o autoridad para que una
    Controversia sea presentada en una supuesta capacidad representativa en nombre del público en general o cualquier
    otra persona. 12.3. Excepciones Las Partes acuerdan que las siguientes Disputas no están sujetas a las
    disposiciones anteriores relativas al arbitraje vinculante: (a) cualquier Disputa que pretenda hacer valer o
    proteger, o sobre la validez de, cualquiera de los derechos de propiedad intelectual de una Parte; (b) cualquier
    disputa relacionada con, o que surja de, denuncias de robo, piratería, invasión de la privacidad o uso no
    autorizado; y (c) cualquier reclamo de medida cautelar. Si se determina que esta disposición es ilegal o
    inaplicable, ninguna de las Partes elegirá someter a arbitraje ninguna disputa que caiga dentro de esa parte de
    esta disposición declarada ilegal o inaplicable y dicha disputa será decidida por un tribunal de jurisdicción
    competente dentro de los tribunales enumerados para jurisdicción arriba, y las Partes acuerdan someterse a la
    jurisdicción personal de ese tribunal. 14. AVISO LEGAL EL SITIO SE PROPORCIONA SOBRE LA BASE TAL CUAL Y SEGÚN
    DISPONIBILIDAD. USTED ACEPTA QUE SU USO DE LOS SERVICIOS DEL SITIO SERÁ BAJO SU PROPIO RIESGO. A LA EXTENSIÓN
    PERMITIDA POR LEY, renuncian a todas las garantías, explícitas o implícitas, relacionadas con el sitio y SU USO,
    incluyendo, sin limitación, las garantías implícitas de comerciabilidad, idoneidad para un propósito particular, Y
    NO INFRACCIÓN. NO SE hacen ninguna garantía o REPRESENTACIÓN DE LA exactitud o integridad de los contenidos del
    sitio o el contenido de cualquier sitio web vinculado a este sitio. Se excluye toda responsabilidad o
    responsabilidad por cualquier (1) error, errores, o inexactitudes de los contenidos y MATERIALES, ( 2) LESIONES o
    daños materiales, de cualquier naturaleza, como resultado del acceso Y USO DEL SITIO, (3) cualquier acceso no
    autorizado o uso de nuestros servidores Secure y / o cualquier INFORMACIÓN PERSONAL Y / O INFORMACIÓN FINANCIERA O
    SOBRE EL ESTADO FÍSICO DE LA PERSONA ALMACENADOS EN EL MISMO, (4) cualquier interrupción o cese de la transmisión
    hacia o DESDE EL SITIO, (5) cualquier error, virus, troyanos, O SIMILARES QUE pueden ser transmitidos a O MEDIANTE
    EL SITIO por cualquier tercero, y / o ( 6) cualquier error u omisión EN CUALQUIER CONTENIDO Y MATERIALES O POR
    CUALQUIER pérdida o daño de cualquier tipo incurridos como RESULTADO DE LA uso de cualquier contenido publicado,
    transmitido o puesto a disposición MEDIANTE EL SITIO. No garantizamos, RESPALDA O asumir la responsabilidad de
    cualquier producto o servicio anunciado u ofrecido por un tercero a A TRAVÉS DEL SITIO, CUALQUIER SITIO WEB
    VINCULADO, O CUALQUIER SITIO WEB O APLICACIÓN MÓVIL PRESENTADO EN UN CARTEL U OTRA PUBLICIDAD, y no vamos SEA
    PARTE DE, O DE CUALQUIER MANERA, RESPONSABLE DEL MONITOREO DE CUALQUIER TRANSACCIÓN ENTRE USTED Y CUALQUIER
    PROVEEDOR DE PRODUCTOS O SERVICIOS DE TERCEROS. AL IGUAL QUE CON LA COMPRA DE UN PRODUCTO O SERVICIO A TRAVÉS DE
    CUALQUIER MEDIO O EN CUALQUIER ENTORNO, USTED DEBE UTILIZAR SU MEJOR JUICIO Y PRACTICAR CUIDADOSAMENTE CUANDO
    CORRESPONDA.
    15. LIMITACIONES DE RESPONSABILIDAD EN NINGÚN CASO NOSOTROS O NUESTROS CONSEJEROS, EMPLEADOS O AGENTES SERÁN
    RESPONSABLES ANTE USTED O CUALQUIER TERCERO POR DAÑOS DIRECTOS, INDIRECTOS, CONSECUENTES, EJEMPLARES,
    INCIDENTALES, ESPECIALES O PUNITIVOS, INCLUIDAS LAS PÉRDIDAS DE GANANCIAS, LOS INGRESOS PERDIDOS, LA PÉRDIDA DE
    DATOS, U OTROS DAÑOS DERIVADOS DEL USO DEL SITIO, AUNQUE HAYA SIDO ADVERTIDO DE LA POSIBILIDAD DE DICHOS DAÑOS.
    CIERTAS LEYES ESTATALES NO PERMITEN LIMITACIONES EN GARANTÍAS IMPLÍCITAS O LA EXCLUSIÓN O LIMITACIÓN DE CIERTOS
    DAÑOS. SI ESTAS LEYES SE APLICAN A USTED, ALGUNAS O TODAS LAS RENUNCIAS O LIMITACIONES ANTERIORES PUEDEN NO
    APLICARSE A USTED, Y USTED PUEDE TENER DERECHOS ADICIONALES.
    16. INDEMNIZACIÓN Usted acepta defender, indemnizar y mantenernos inofensivos, incluidas nuestras subsidiarias,
    afiliadas y todos nuestros respectivos funcionarios, agentes, socios y empleados, desde y contra cualquier
    pérdida, daño, responsabilidad, reclamo o demanda, incluidos los abogados razonables. 'honorarios y gastos,
    realizados por un tercero debido o derivados de: (1) el uso del Sitio; (2) incumplimiento de estos Términos de
    uso; (3) cualquier incumplimiento de sus declaraciones y garantías establecidas en estos Términos de uso; (4) su
    violación de los derechos de un tercero, incluidos, entre otros, los derechos de propiedad intelectual; o (5)
    cualquier acto dañino manifiesto hacia cualquier otro usuario del Sitio con el que se conectó a través del Sitio.
    Sin perjuicio de lo anterior, nos reservamos el derecho, a su cargo, de asumir la defensa y el control exclusivos
    de cualquier asunto por el cual deba indemnizarnos, y usted acepta cooperar, a su cargo, con nuestra defensa de
    dichos reclamos. Haremos todos los esfuerzos razonables para notificarle cualquier reclamo, acción o procedimiento
    que esté sujeto a esta indemnización al tomar conocimiento de ello.
    17. DATOS DEL USUARIO Mantendremos ciertos datos que usted transmita al Sitio con el fin de gestionar el
    rendimiento del Sitio, así como los datos relacionados con su uso del Sitio. Aunque realizamos copias de seguridad
    periódicas de rutina de los datos, usted es el único responsable de todos los datos que usted transmite o que se
    relacionan con cualquier actividad que haya realizado utilizando el Sitio. Usted acepta que no tendremos ninguna
    responsabilidad ante usted por cualquier pérdida o corrupción de dichos datos, y por la presente renuncia a
    cualquier derecho de acción contra nosotros que surja de dicha pérdida o corrupción de dichos datos.
    18. COMUNICACIONES, TRANSACCIONES Y FIRMAS ELECTRÓNICAS Visitar el sitio, enviarnos correos electrónicos y
    completar formularios en línea constituyen comunicaciones electrónicas. Usted acepta recibir comunicaciones
    electrónicas y acepta que todos los acuerdos, avisos, divulgaciones y otras comunicaciones que le proporcionamos
    electrónicamente, por correo electrónico y en el Sitio, satisfacen cualquier requisito legal de que dicha
    comunicación se realice por escrito. USTED ACEPTA EL USO DE FIRMAS ELECTRÓNICAS, CONTRATOS, ÓRDENES Y OTROS
    REGISTROS, Y PARA LA ENTREGA ELECTRÓNICA DE NOTIFICACIONES, POLÍTICAS Y REGISTROS DE TRANSACCIONES INICIADAS O
    COMPLETADAS POR NOSOTROS O VÍA EL SITIO. Por la presente renuncia a cualquier derecho o requisito bajo cualquier
    ley, reglamento, ordenanza u otra ley en cualquier jurisdicción que requiera una firma original o la entrega o
    retención de registros no electrónicos, o pagos o la concesión de créditos por cualquier otro medio que los medios
    electrónicos.
    19. USUARIOS Y RESIDENTES DE CALIFORNIA Si cualquier queja con nosotros no se resuelve satisfactoriamente, puede
    comunicarse con la Unidad de Asistencia de Quejas de la División de Servicios al Consumidor del Departamento de
    Asuntos del Consumidor de California por escrito a 1625 North Market Blvd., Suite N 112, Sacramento, California
    95834 o por teléfono en (800) 952-5210 o (916) 445-1254.
    If any complaint with us is not resolved satisfactorily, you may contact the Consumer Services Schools Assistance
    Unit of the California Department of Consumer Affairs in writing at 1625 North Market Blvd., Suite N 112,
    Sacramento, California 95834 or by phone at (800) 952-5210 or (916) 445-1254.
    20. DIVERSO Estos Términos de uso y todas las políticas o normas operativas publicadas por nosotros en el Sitio o
    en relación con el Sitio constituyen el acuerdo completo y el entendimiento entre usted y nosotros. Nuestra
    incapacidad para ejercer o hacer cumplir cualquier derecho o disposición de estos Términos de uso no funcionará
    como una renuncia a dicho derecho o disposición. Estos términos de uso operan en la máxima medida permitida por la
    ley. Podemos asignar cualquiera o todos nuestros derechos y obligaciones a otros en cualquier momento. No seremos
    responsables de ninguna pérdida, daño, demora o falta de acción causada por ninguna causa más allá de nuestro
    control razonable. Si se determina que alguna disposición o parte de una disposición de estos Términos de uso es
    ilegal, nula o no exigible, esa disposición o parte de la misma se considera divisible de estos Términos de uso y
    no afecta la validez y aplicabilidad de cualquier provisiones. No existe una relación de empresa conjunta,
    sociedad, empleo o agencia creada entre usted y nosotros como resultado de estos Términos de uso o uso del Sitio.
    Usted acepta que estos Términos de uso no se interpretarán contra nosotros en virtud de haberlos redactado. Por la
    presente usted renuncia a todas y cada una de las defensas que pueda tener basadas en la forma electrónica de
    estos Términos de uso y la falta de firma por parte de las partes para ejecutar estos Términos de uso.
    21. CONTÁCTENOS Para resolver un reclamo sobre la app o para recibir más información sobre el uso de la app, 
    comuníqueselo a nuestro e-mail. 
</p>