<!-- Home Section start-->
<section id="home" class="home">
  <div class="home-decor">
    <div class="home-circle1"><img src="assets/images/main-banner3.png" alt=""></div>
    <div class="home-circle2"><img src="assets/images/main-banner12.png" alt=""></div>
    <div class="home-circle3"><img src="assets/images/main-banner1.png" alt=""></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="home-contain">
          <div>
            <img src="assets/images/dromous_logo.png" alt="caption-img" class="caption-img dromous-logo-small">
            <h4 style="margin-left:3px">Te presentamos...</h4>
            <h1 style="margin-top:0px !important;"> Dromous
             <span class="f-bold f-color">app</span>
             <span class="beta-badge">BETA</span>
            </h1>
            <p class="no-caps">Dromous es un ecosistema digital del deporte, donde buscamos conectar a deportistas aficionados con su entorno deportivo local, y permitirles crear y participar en eventos personalizados. Dromous también buscar ofrecer toda clase de servicios que hagan el deporte más fácil y accesible para todo el mundo.</p>
            <p class="no-caps">Además, <span class="itsfree">¡es 100% gratuita!</span></p>

            <a [routerLink]="'/home/one'"><img src="assets/images/appstore.png" alt="appstore" class="store"></a>
            <a [routerLink]="'/home/one'"><img class="ml-20 store" src="assets/images/play-store.png" alt="play-store"></a>
          </div>
        </div>
      </div>
      <div class="col-sm-5 offset-md-1">
        <div class="home-right">
          <img style="margin-top:175px" data-tilt data-tilt-perspective="110" data-tilt-speed="400" data-tilt-max="1.2" src="assets/images/mobile.png" class="img-fluid" alt="mobile">
        </div>
      </div>
    </div>
  </div>
</section>
<!--Home Section End -->
