.dromous-logo-small{
    height: 120px;
}

.beta-badge{
    padding: 2px 14px 2px 14px;
    background-color: #79cc79;
    font-size: 18px;
    border-radius: 15px;
    vertical-align: text-top;
    display: inline;
    color: white;
    font-weight: 400;
}

.itsfree{
    font-size: 26px;
    font-weight: 600;
}