/* You can add global styles to this file, and also import other style files */
.margin-top20{
    margin-top: 20px;
}

.no-caps {
    text-transform: none !important;
}

.feature-icon {
    color: #00c1ff;
    font-size: 22px;
}

