<!-- About Start -->
<section id="about" class="about" #about>
  <div class="about-decor">
    <div class="about-circle1"><img src="assets/images/team1.png" alt="team1"></div>
    <div class="about-circle2"><img src="assets/images/main-banner1.png" alt="banner1"></div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-md-5">
        <div class="about-contain">
          <div>
            <h2 class="title">¿qué es <span>Dromous</span>?</h2>
            <p class="caption-about description no-caps">
              Nuestro objetivo es interconectar a los aficionados al deporte entre sí: permitir a los usuarios crear y asistir a eventos deportivos de toda índole. 
            </p>
            <p class="caption-about description no-caps">
              Una agradable ruta ciclista por la montaña, una pachanguita de fútbol, una ligera sesión de <i>running</i> matutina, entrenamientos calisténicos, quedadas de skate... ¡hay de todo! 
            </p>
            <div class="row sm-mb">
              <ul class="about-style margin-top20">
                <li class="abt-hover">
                  <div class="about-icon">
                    <div class="icon-hover">
                      <img src="assets/images/icon1.png" alt="easy-to-customized">
                    </div>
                  </div>
                  <div class="about-text list-label-margin">
                    <h3 class="no-caps">Practica gratis toda clase de deportes </h3>
                  </div>
                </li>
                <li class="abt-hover">
                  <div class="about-icon">
                    <div class="icon-hover">
                      <img src="assets/images/icon3.png" alt="easy-to-use">
                    </div>
                  </div>
                  <div class="about-text list-label-margin">
                    <h3 class="no-caps">Conoce a otros deportistas</h3>
                  </div>
                </li>
                <li class="abt-hover">
                  <div class="about-icon">
                    <div class="icon-hover">
                      <img src="assets/images/icon2.png" alt="Awasome-Design">
                    </div>
                  </div>
                  <div class="about-text list-label-margin">
                    <h3 class="no-caps">Organiza tus propios eventos</h3>
                  </div>
                </li>
                <li class="abt-hover">
                  <div class="about-icon">
                    <div class="icon-hover">
                      <img src="assets/images/icon4.png" alt="SEO-Friendly">
                    </div>
                  </div>
                  <div class="about-text list-label-margin">
                    <h3 class="no-caps">Y pronto, mucho más. Sigue bajando 😉</h3>
                  </div>
                </li>
              </ul>
            </div>
            <div class="top-margin">
              <button type="button" class="btn btn-custom theme-color theme-color">view more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 d-medium-none">
        <div class="about-right">
          <div class="about-phone">
            <img src="assets/images/aboutus.png" class="img-fluid" alt="aboutus">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About End -->
